:root {
  --background-color: linear-gradient(90deg, rgba(52,147,204,1) 0%, rgba(50,110,202,1) 100%);
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*:focus {
  outline: none;
}
.text{
  font-family: var(--font-family);
}
#Board_Route {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#Board_Route .section-1 {
  display: flex;
  gap: 1vw;
  align-items: center;
  
}
.to-date a,
.from-date a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  background: var(--background-color);
  color: #fff;
  height: 100%;
  width: 60px;
}
.search input,
.to-date input,
.from-date input {
  padding: 6px 8px;
  border: none;
  width: 100%;
}
.excel-btn
{
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  height: 100%;
  width: 100px;
  color: #fff;
}
.search-btn {
  background-color: goldenrod;
}
#Board_Route .section-2 {
  width: 100%;
  height: 100%;
  background: var(--background-color);
  border-radius: 15px;
  font-size: 20px;
  border: 2px solid rgb(51 146 204);
}
.board_td_route{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 33px;
}
.board-roadmap p {
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
}
.board-roadmap {
  width: 100%;
  height: 275px;
  background: var(--background-color);
  border-radius: 15px;
  overflow: hidden;
  font-size: 20px;
  border: 2px solid rgb(51 146 204);
}
.board-roadmap1{
  background-color: #fff;
  border-radius: 15px;
  height: 100%;
  display: block;
  justify-content: left;
  text-align: left;
  padding: 7px 0 0 7px;
}
.board-roadmap1 p{
  font-size: 18px;
  color: black;
  font-weight: 400;
}
.board-roadmap1 .Link{
  background-color: rgb(51 146 204);
  border: 1px solid goldenrod;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 5px;
  padding: 0px 5px 0px 5px;
}
.board-roadmap1 .text1{
  font-family: var(--font-family);
  font-size: 15px;
  color: black;
  font-weight: 700;
}
.board-th p:nth-child(1),
.board-roadmap p:nth-child(1) {
  padding: 6px 0 6px 0;
  width: 100%;
  display: flex;
  font-weight: 700;
}
.board-th p:nth-child(2),
.board-roadmap p:nth-child(2) {
  width: 100%;
}
.board-th p:nth-child(3),
.board-roadmap p:nth-child(3) {
  width: 100%;
}
.board-th p:nth-child(4),
.board-roadmap p:nth-child(4) {
  width: 100%;
}
.board-th p:nth-child(5),
.board-roadmap p:nth-child(5) {
  width: 100%;
}
.board-th p:nth-child(6),
.board-roadmap p:nth-child(6) {
  width: 100%;
}
.board-th p:nth-child(7),
.board-roadmap p:nth-child(7) {
  width: 100%;  
}


select {
  padding: 0.675em 6em 0.675em 1em;
  display: flex;
  align-items: center;
  border: 1px solid rgb(51 146 204);
  width: 260px;
  height: 35px;
  overflow: hidden;
  border-radius: 5px;
}


.button_route {
  width: 231px;
  height: 42px;
  border: none;
  background-image: var(--orange-btn);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 8% 51%);
  margin: 10px 14px 10px -34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_route_1{
  width: 363px;
  height: 42px;
  border: none;
  background-color: rgb(51 146 204);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 10% 51%);
  margin: 12px -41px 12px;
  display: block;
}
.button_route_1 p{
  font-size: 18px;
  margin-top: 5px;
  margin-left: 15%;
  display: flex;
  justify-content: center;
}
.button_route .dot {
position: absolute;
left: 48px; 
top: 50%;
transform: translateY(-50%);
width: 10px;
height: 10px;
background-color: #fff;
border-radius: 50%; 
}
.arrow-rounded-button:hover {
background-color: goldenrod; 
}

/* Collaspse */
#content_roadmap1, #content_roadmap-1{
  display: block;
}

.timeline {
	margin: auto;
  width: 100%;
  height: auto;
}
.timeline__item {
	position: relative;
}
.timeline__item:before {
	  background-color: grey;
    content: "";
    display: block;
    position: absolute;
    top: 27px;
    left: 6px;
    width: 3px;
    height: 100%;
    transform: translateX(-50%);
}
.timeline__item-header {
	display: flex;
}
.timeline__item-header p {
	display: flex;
  gap: 10px;
}
.line{
    background: rgb(51 146 204);
    color: black;
    width: 43px;
    height: 8px;
    margin: 29px 0;}
.timeline__item-header button{
  background: none;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  color: black;
  height: 27px;
  align-items: center;
}
.timeline__dot {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  margin: 24px 0;
  margin-inline-end: -15px;
  position: relative;
  width: 0.85em;
  height: 0.85em;
  z-index: 2;
}
.timeline__dot1 {
  background-color: rgb(51 146 204);
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  margin: 24px 0;
  margin-inline-end: -15px;
  position: relative;
  width: 0.85em;
  height: 0.85em;
  z-index: 2;
}
.timeline__item-body {
  overflow: hidden;
  height: 0;
}
.timeline__item-body-content {
	background-color: hsl(var(--hue),10%,50%,0.2);
	opacity: 0;
	visibility: hidden;
	transition:
		opacity var(--trans-dur) var(--trans-timing),
		visibility var(--trans-dur) steps(1,end);
}
.timeline__item-body--expanded {
	height: auto;
}
.timeline__item-body--expanded .timeline__item-body-content {
	opacity: 1;
	visibility: visible;
	transition-delay: var(--trans-dur), 0s;
  position: relative;
}
.timeline__arrow[aria-expanded="true"] .timeline__arrow-icon {
	transform: rotate(0);
}

.btn-dropdown-roadmap{
  position: absolute;
  right: 23px;
  top: 6px;
}
.btn-dropdown-roadmap-head{
  position: absolute;
  right: 23px;
  top: 6px;
  color: black;
}
.gear-content-road-map-header a:nth-child(1){
    padding: 10px 10px 5px 10px;
}
.gear-content-road-map-header a:nth-child(2) {
    padding: 5px 10px 10px 10px;
}
.gear-content-road-map-header a:hover {
    background: rgb(178, 178, 178);
    color: white;
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
		--primary: hsl(var(--hue),90%,70%);
	}
}