:root {
    --background-color: linear-gradient(90deg, rgba(52,147,204,1) 0%, rgba(50,110,202,1) 100%);
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  *:focus {
    outline: none;
  }
  #Board_Personnel {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  #Board_Personnel .section-1 {
    width: 100%;
    height: 100%;
    background: var(--background-color);
    border-radius: 15px;
    font-size: 20px;
    border: 2px solid rgb(51 146 204);
  }
  .board-th p {
    font-size: 18px;
  }
  .board-td p {
    font-size: 16px;
  
  }
  .board-th {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 20px;
  }
  .board-td .text{
    font-size: 18px;
  }
  .tick {
    position: absolute;
    border-left: 15px solid #326fca;
    height: 100%;
    top: 0;
    left: 0;
  }
  .stt {
    font-size: 25px;
    background: -webkit-linear-gradient(90deg, rgb(39, 134, 193) 0%, rgba(50,110,202,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .approve {
    border: 1px solid rgb(87, 84, 84);
    border-radius: 5px;
    padding: 5px;
    background: none;
    cursor: pointer;
  }
  .approve i {
    color: rgb(52 137 203);
  }
  .dot{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  .dot.green{
    background-color: green;
  }
  #Board_Personnel .board-th p:nth-child(1),
  #Board_Personnel .board-td div:nth-child(1) {
    width: 5%;
  }
  #Board_Personnel .board-th p:nth-child(2),
  #Board_Personnel .board-td div:nth-child(2) {
    width: 30%;
  }
  #Board_Personnel .board-th p:nth-child(3),
  #Board_Personnel .board-td div:nth-child(3) {
    width: 20%;
  }
  #Board_Personnel .board-th p:nth-child(4),
  #Board_Personnel .board-td div:nth-child(4) {
    width: 20%;
  }
  #Board_Personnel .board-th p:nth-child(5),
  #Board_Personnel .board-td div:nth-child(5) {
    width: 20%;
  }
  #Board_Personnel .board-th p:nth-child(6),
  #Board_Personnel .board-td div:nth-child(6) {
    width: 20%;
  }
  #Board_Personnel .board-th p:nth-child(7),
  #Board_Personnel .board-td div:nth-child(7) {
    width: 12%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }