:root {
    --background-color: linear-gradient(90deg, rgba(52,147,204,1) 0%, rgba(50,110,202,1) 100%);
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*:focus {
    outline: none;
}
#action-meeting,
#action-ot,
#action-leave {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#action-ot .section-1,
#action-leave .section-1 {
    display: flex;
    gap: 15px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}
.approved,
.to-date,
.from-date {
    display: flex;
    align-items: center;
    border: 1px solid rgb(51 146 204);
    width: 25%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.to-date a,
.from-date a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    background: var(--background-color);
    color: #fff;
    height: 100%;
    width: 60px;
}
.approved button {
    background: var(--background-color);
    height: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
}
.approved button,
.to-date input,
.from-date input {
    padding: 6px 8px;
    border: none;
    width: 100%;
}
.new-btn,
.search-btn {
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    height: 100%;
    width: 15%;
    color: #fff;
    background: goldenrod;
}
#action-ot .section-2,
#action-leave .section-2 {
    width: 100%;
    height: 100%;
    background: var(--background-color);
    border-radius: 15px;
    overflow: hidden;
    font-size: 20px;
    border: 2px solid rgb(51 146 204);
}
.board-th p {
    font-size: 18px;
}
.board-td p {
    font-size: 16px;
}
.board-th {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 20px;
}
.board-content {
    background-color: #fff;
    border-radius: 15px;
    height: 100%;
}
.board-td {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(187, 186, 186);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 2px;
    overflow: hidden;
    position: relative;
    color: black;
    align-items: center;
}
.tick {
    position: absolute;
    border-left: 15px solid #326fca;
    height: 100%;
    top: 0;
    left: 0;
}
.stt {
    font-size: 25px;
    background: -webkit-linear-gradient(90deg, rgb(39, 134, 193) 0%, rgba(50,110,202,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.approve {
    border: 1px solid rgb(87, 84, 84);
    border-radius: 5px;
    padding: 5px;
    background: none;
    cursor: pointer;
    margin-left: 10px;
}
.approve i {
    color: rgb(52 137 203);
}
#action-ot .status,
#action-leave .status {
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    width: 70px;
    height: 20px;
    padding-top: 2px;
}
.green {
    background: green;
}
.orange {
    background: orange;
}
.red {
    background: red;
}

.board-th p:nth-child(1),
.board-td p:nth-child(1) {
    width: 5%;
}
.board-th p:nth-child(2),
.board-td p:nth-child(2) {
    width: 30%;
}
.board-th p:nth-child(3),
.board-td p:nth-child(3) {
    width: 30%;
}
.board-th p:nth-child(4),
.board-td p:nth-child(4) {
    width: 20%;
}
.board-th p:nth-child(5),
.board-td p:nth-child(5) {
    width: 15%;
}
.board-th p:nth-child(6),
.board-td p:nth-child(6) {
    width: 15%;
}
.cal-content {
    background: #326fca;
}
#calendar {
    font-size: 18px;
    width: 100%;
    background: #fff;
    border-radius: 15px;
}
#action-meeting .section-1 {
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
}
#action-meeting .section-1 a {
    background: orange;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
}
#action-meeting .section-2 {
    width: 100% !important;
    background-color: #326fca;
    border: 2px solid #326fca;
    border-radius: 15px;
    overflow: hidden;
}
.fc .fc-toolbar-title {
    font-size: 20px;
    color: black;
}
.fc .fc-button {
    padding: 5px 15px;
}
.fc .fc-daygrid-day-frame {
    background-color: none !important;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin: 1rem;
}
.cal-header {
    font-size: 25px;
    padding: 10px 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    background: #fff;
    border-radius: 15px;
    width: 50%;
    position: relative;
    transition: all 0.3s ease-in-out;
    background: var(--background-color);
  }
  .popup-content {
    background: #fff;
    border-radius: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }
  .popup-title {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 10px;
  }
  .close {
    position: absolute;
    right: 10px;
    border: 1px solid blue;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .close i {
    color: #fff;
  }
  .popup-row {
    width: 100%;
    display: flex;
    gap: 15px;
  }
  .popup-input {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
  }
  .popup-input label {
    font-size: 14px;
    color: rgb(51 146 204);
    text-align: left;
    margin-bottom: 5px;
  }
  .popup-input textarea,
  .popup-input input {
    border: 1px solid rgb(51 146 204);
    border-radius: 5px;
    font-size: 14px;
    height: 100%;
    padding: 8px 10px;
    font-family: var(--font-family);
  }
  .popup-input textarea {
    height: 350px;
  }
  textarea {
    resize: none;
  }
  .popup-btn {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    gap: 20px;
  }
  .popup-btn button {
    font-size: 18px;
    padding: 8px 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
  }
  .accept {
    background: orange;
  }
  .deny {
    background: red;
  }


.select2-container {
    width: 100% !important;
}
.select2-container .select2-search--inline .select2-search__field,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-results__option {
    color: black !important;
    font-family: var(--font-family) !important;
}
.select2-container .select2-search--inline .select2-search__field {
    font-size: 14px !important;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
    border: 1px solid rgb(51 146 204) !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid rgb(51 146 204) !important;
    border-radius: 5px!important;
    height: 100% !important;
}
.select2-container--default .select2-selection--multiple,
.select2-container .select2-selection--single .select2-selection__rendered {
    color: black !important; 
    font-size: 14px !important;
    display: flex !important;
    align-items: center !important;
    text-align: left !important;
    height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent black transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: black transparent transparent transparent !important;
}
#metting-row {
    height: 40px;
}
#metting-row .to-date, #metting-row .from-date {
    width: 50%;
}